{% extends "base.html" %}
{% block title %} Создать новый пост {% endblock %}
{% block content %}
                <div class="row">
        <div class="col-lg-8 col-md-10 ms-auto">
                <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}

                        <p>{{field}}</p>
                        {% endfor%}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>

        </div>
</div>
        {% endblock %}